<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/potes.css">
    <script src="./js/items_carrinho.js" defer></script>
    <title>Vasos Verdes</title>
</head>

<body>
        <main>
            <h1>Vasos</h1>
            <br>
            <div class="geral">
                <div class="bordas">
                    <h2>Vaso de argila</h2>
                    <img class="pote_linha1" src="./img/vaso1.avif" alt="pote">
                    <p class="potes">R$20,00</p>
                    <button class="adicionar-ao-carrinho" data-nome="Vaso de Argila" data-preco="20" data-qtde="1">Adicionar ao Carrinho</button>
                </div>
                <div class="bordas">
                    <h2>Vaso Branco</h2>
                    <img class="pote_linha2" src="./img/vaso2.avif" alt="pote">
                    <p class="potes">R$40,00</p>
                    <button class="adicionar-ao-carrinho" data-nome="Vaso Branco" data-preco="40" data-qtde="1">Adicionar ao Carrinho</button>
                </div>
                <div class="bordas">
                    <h2>Vaso Pequeno</h2>
                    <img class="pote_linha3" src="./img/vaso3.avif" alt="pote">
                    <p class="potes">R$30,00</p>
                    <button class="adicionar-ao-carrinho" data-nome="Vaso Pequeno" data-preco="30" data-qtde="1">Adicionar ao Carrinho</button>
                </div>
            </div>
</body>