<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/sementes.css">
    <script src="./js/items_carrinho.js" defer></script>
    <title>Vasos Verdes</title>
</head>

<body>
        <main>
            <h1>Sementes</h1>
            <br>
            <div class="geral">
                <div class="bordas">
                    <h2>Semente de Girassol</h2>
                    <img class="semente_linha1" src="./img/girassol.avif" alt="semente">
                    <p class="semente">R$20,00 <br> até 2X sem juros</p>
                    <button class="adicionar-ao-carrinho" data-nome="Semente de Girassol" data-preco="20.00" data-qtde="1">Adicionar ao Carrinho</button>
                </div>
                <div class="bordas">
                    <h2>Semente de Rosa</h2>
                    <img class="semente_linha2" src="./img/rosa.avif" alt="semente">
                    <p class="semente">R$30,00 <br> até 2X sem juros</p>
                    <button class="adicionar-ao-carrinho" data-nome="Semente de Rosa" data-preco="20.00" data-qtde="1">Adicionar ao Carrinho</button>
                </div>
                <div class="bordas">
                    <h2>Semente de Cannabis</h2>
                    <img class="semente_linha3" src="./img/marijuana.avif" alt="semente">
                    <p class="semente">R$50,00 <br> até 2X sem juros</p>
                    <button class="adicionar-ao-carrinho" data-nome="Semente de Cannabis" data-preco="30.00" data-qtde="1">Adicionar ao Carrinho</button>
                </div>
            </div>
</body>